.event__list-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}

.event__list-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: rgba(24, 24, 24, 1);
}

.event__list-item h2 {
  margin: 0;
  font-size: 1rem;
  color: rgb(108, 6, 204);
}

.event__list-item p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(108, 6, 204);
}
